:root {
  --size-2: 2rem;
  --strong-background-color: rgba(240, 46, 170, 0.7);
  --shadow: rgba(104, 8, 69, 0.25) 0px 50px 100px -20px, rgba(104, 8, 69, 0.3) 0px 30px 60px -30px,
    rgba(58, 1, 37, 0.35) 0px -2px 6px 0px inset;
}

body {
  display: flex;
  justify-content: center;
}
